.App-header {
  min-height: 80px;
  background-color: #20a0ff;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
}

.App-main {
  padding: 20px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
