:local(.header) {
  min-height: 80px;
  background-color: #20a0ff;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
}

:local(.container) {
  padding: 20px 0;
}

:local(.footer) {
  height: 120px;
  background-color: #324057;
  color: #a4aebd;
  width: 100%;
}
